---
http_interactions:
- request:
    method: post
    uri: https://cp.pushwoosh.com/json/1.3/createMessage
    body:
      encoding: UTF-8
      string: '{"request":{"application":"5555-5555","auth":"abcefg","notifications":[{"send_date":"now","content":""}]}}'
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf8
      X-Pw-Cluster-Node:
      - api-32
      X-Pw-Front-Node:
      - front-05
    body:
      encoding: UTF-8
      string: '{"status_code":210,"status_message":"Account not found","response":null}'
  recorded_at: Mon, 01 Feb 2016 19:56:11 GMT
recorded_with: VCR 2.8.0
