---
http_interactions:
- request:
    method: post
    uri: https://speedetab.pushwoosh.com/json/1.3/createMessage
    body:
      encoding: UTF-8
      string: '{"request":{"application":"5555-5555","auth":"abcdefg","notifications":[{"send_date":"now","content":"Testing"}]}}'
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf8
      X-Pw-Cluster-Node:
      - api-02
      X-Pw-Front-Node:
      - front-02
    body:
      encoding: UTF-8
      string: '{"status_code":200,"status_message":"OK","response":{"Messages":["4C2C-9A52A6A4-9BA6D064"]}}'
  recorded_at: Sun, 11 Jan 2015 21:40:59 GMT
recorded_with: VCR 2.8.0
