---
http_interactions:
- request:
    method: post
    uri: https://cp.pushwoosh.com/json/1.3/createMessage
    body:
      encoding: UTF-8
      string: '{"request":{"application":"5555-5555","auth":"abcdefghijklmnopq","notifications":[{"send_date":"now","content":"CDV"}]}}'
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf8
    body:
      encoding: UTF-8
      string: '{"status_code":200,"status_message":"OK","response":{"Messages":["E380-6E23E78A-3A044A2B"]}}'
  recorded_at: Mon, 05 Aug 2013 19:32:45 GMT
recorded_with: VCR 2.5.0
