---
http_interactions:
- request:
    method: post
    uri: https://cp.pushwoosh.com/json/1.3/createMessage
    body:
      encoding: UTF-8
      string: '{"request":{"application":"5555-5555","auth":"abcdefghijklmnopq","notifications":[{"send_date":"now","content":"CDV"}]}}'
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf8
      X-Pw-Cluster-Node:
      - api-01
      X-Pw-Front-Node:
      - front-01
    body:
      encoding: UTF-8
      string: "{\"status_code\":200,\"status_message\":\"OK\",\"response\":{\"Messages\":[\"B03F-9E4D278D-D187C6AD\"]}}"
  recorded_at: Tue, 28 Jan 2014 21:42:54 GMT
recorded_with: VCR 2.8.0
