---
http_interactions:
- request:
    method: post
    uri: https://speedetab.pushwoosh.com/json/1.3/registerDevice
    body:
      encoding: UTF-8
      string: '{"request":{"hwid":"","device_type":"","push_token":"","timezone":"","application":"9999999"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf8
      X-Pw-Cluster-Node:
      - api-28
      X-Pw-Front-Node:
      - front-05
    body:
      encoding: UTF-8
      string: '{"status_code":210,"status_message":"Application not found","response":null}'
  recorded_at: Fri, 29 Jan 2016 21:26:21 GMT
recorded_with: VCR 2.8.0
