---
http_interactions:
- request:
    method: post
    uri: https://cp.pushwoosh.com/json/1.3/registerDevice
    body:
      encoding: UTF-8
      string: '{"request":{"hwid":"","device_type":"","push_token":"","timezone":"","auth":"5555-5555","application":"555555"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf8
      X-Pw-Cluster-Node:
      - api-27
      X-Pw-Front-Node:
      - front-06
    body:
      encoding: UTF-8
      string: '{"status_code":200,"status_message":"ok","response":null}'
  recorded_at: Thu, 28 Jan 2016 23:45:03 GMT
recorded_with: VCR 2.8.0
