---
http_interactions:
- request:
    method: post
    uri: https://cp.pushwoosh.com/json/1.3/unregisterDevice
    body:
      encoding: UTF-8
      string: '{"request":{"hwid":"hwid","application":"5555555"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf8
      X-Pw-Cluster-Node:
      - api-27
      X-Pw-Front-Node:
      - front-05
    body:
      encoding: UTF-8
      string: '{"status_code":200,"status_message":"OK","response":null}'
  recorded_at: Fri, 29 Jan 2016 00:12:15 GMT
recorded_with: VCR 2.8.0
